<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>FreeFolio - Freelancer Portfolio Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link href="/css/style.css" rel="stylesheet">

</head>

<body data-spy="scroll" data-target=".navbar" data-offset="51" style="background-color:#ffffff;">
    <!-- Navbar Start -->
    <nav class="navbar fixed-top shadow-sm navbar-expand-lg  navbar-light py-3 py-lg-0 px-lg-5"
        style="background-color: #B3A398;">
        <a href="index.html" class="navbar-brand ml-lg-3">
            <h1 class="m-0 display-5"><span style="color:#001524; font-weight: bold;">Student </span>PortfolioHub</h1>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse px-lg-3" id="navbarCollapse">
            <div class="navbar-nav m-auto py-0">
                <a href="#home" class="nav-item nav-link active">Home</a>
                <a href="#about" class="nav-item nav-link">About portfolio</a>
                <a href="#skill" class="nav-item nav-link">Skill</a>
                <a href="#qualification" class="nav-item nav-link">Quality</a>
                <!-- <a href="#service" class="nav-item nav-link">Service</a> -->
                <!-- <a href="#folio" class="nav-item nav-link">Portfolio</a> -->
                <a href="#testimonial" class="nav-item nav-link">Review</a>
                <a href="#contact" class="nav-item nav-link">Contact</a>

            </div>
            <a href="" class="btn btn-menu d-none d-lg-block"
                style="background-color:#001524; color: #ffffff; border: none;">Create Portfolio
            </a>
        </div>
    </nav>
    <!-- Navbar End -->



    <!-- Header Start -->
    <div class="container-fluid d-flex align-items-center mb-5 py-5" id="home"
        style="min-height: 100vh;background-color: #445D48;">
        <div class="container">
            <div class="row align-items-center d-flex justify-content-around">

                <div class="col-lg-5 text-center text-lg-left">
                    <h3 class="text-white font-weight-normal mb-3">Hello, my name</h3>
                    <h1 class="display-3 text-uppercase text-primary mb-2" style="-webkit-text-stroke: 4px #ffffff;">
                        Alaxe Smith</h1>
                    <h1 class="typed-text-output d-inline font-weight-bold " style="color:#202738;"></h1>
                    <div class="typed-text d-none" style="color: #FDE5D4;">Web Designer, Web Developer, Front End
                        Developer, Apps Designer, Apps
                        Developer</div>
                    <div class="d-flex align-items-center justify-content-center " style="width: 100%; height: 80px;">
                        <a href="" class="btn mr-4 font-weight-bold"
                            style="background-color:#ffffff;color:#2A363B;border: 1px solid rgb(136, 2, 2)">Download
                            CV</a>

                        <!-- <a href="" class="btn btn-blue d-none d-sm-block">Play Video</a> -->
                    </div>
                </div>

                <div class="col-lg-6 px-8 pl-lg-0 pb-5 pb-lg-4 about-img">
                    <img class="img-fluid w-100 rounded-circle shadow-sm" src="/img/profile.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->


    <!-- About Start -->
    <div class="container-fluid py-5" id="about">
        <div class="container bg-col">
            <div class="position-relative d-flex align-items-center justify-content-center">
                <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1.5px #adbc9f77;">About</h1>
                <h1 class="position-absolute text-uppercase "><span style="color:#001524;">About Me</span></h1>
            </div>
            <div class="row align-items-center">
                <div class="col-lg-5 pb-4 pb-lg-0">
                    <img class="img-fluid rounded w-100" src="img/about.jpg" alt="">
                </div>
                <div class="col-lg-7">
                    <h3 class="mb-4">UI/UX Designer & Web Developer</h3>
                    <p>Tempor eos dolore amet tempor dolor tempor. Dolore ea magna sit amet dolor eirmod. Eos ipsum est
                        tempor dolor. Clita lorem kasd sed ea lorem diam ea lorem eirmod duo sit ipsum. Amet dolor stet
                        lorem diam dolor justo et dolor dolor dolor</p>
                    <div class="row mb-3">
                        <div class="col-sm-6 py-2">
                            <h6>Name: <span class="text-secondary">Kate Winslet</span></h6>
                        </div>
                        <div class="col-sm-6 py-2">
                            <h6>Birthday: <span class="text-secondary">1 April 1990</span></h6>
                        </div>
                        <div class="col-sm-6 py-2">
                            <h6>Degree: <span class="text-secondary">Master</span></h6>
                        </div>
                        <div class="col-sm-6 py-2">
                            <h6>Experience: <span class="text-secondary">10 Years</span></h6>
                        </div>
                        <div class="col-sm-6 py-2">
                            <h6>Phone: <span class="text-secondary">+012 345 6789</span></h6>
                        </div>
                        <div class="col-sm-6 py-2">
                            <h6>Email: <span class="text-secondary">info@example.com</span></h6>
                        </div>
                        <div class="col-sm-6 py-2">
                            <h6>Address: <span class="text-secondary">123 Street, New York, USA</span></h6>
                        </div>
                        <div class="col-sm-6 py-2">
                            <h6>Freelance: <span class="text-secondary">Available</span></h6>
                        </div>
                    </div>
                    <center>
                        <a href="" class="btn blue  mr-4" data-bs-toggle="modal" data-bs-target="#modalabout">Edit</a>
                    </center>
                    <!-- <a href="" class="btn btn-outline-primary">Learn More</a> -->
                </div>
            </div>
        </div>
    </div>
    <!-- Vertically centered scrollable modal -->
    <div class="modal fade" id="modalabout" tabindex="-1" role="dialog" aria-labelledby="modalTitleId"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content font-weight-bold" style="height:auto;width: 150%;">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitleId">About us</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body px-3">
                    <div class="row g-3" style="color:black;">

                        <div class="col-6">
                            <label for="fname" class="form-label ">First Name:</label>
                            <input type="text" class="form-control" placeholder="First name" aria-label="First name"
                                id="fname">
                        </div>
                        <div class="col-6">
                            <label for="lname" class="form-label">Last Name:</label>
                            <input type="text" class="form-control" placeholder="Last name" aria-label="Last name"
                                id="lname">
                        </div>
                        <div class="col-md-6 mt-3">
                            <label for="dob" class="form-label">DOB:</label>
                            <input type="date" class="form-control" id="dob">
                        </div>
                        <div class="col-md-6 mt-3">
                            <label for="email" class="form-label">Email:</label>
                            <input type="email" class="form-control" id="email" placeholder="Email">
                        </div>
                        <div class="col-md-6 mt-3">
                            <label for="phone_no" class="form-label">Phone No.</label>
                            <input type="tel" maxlength="10" class="form-control" id="phone_no" placeholder="Phone No.">
                        </div>
                        <div class="col-md-6 mt-3">
                            <label for="experience" class="form-label">Experience:</label>
                            <input type="number" class="form-control" id="experience">
                        </div>
                        <div class="col-12 mt-3">
                            <label for="address" class="form-label">Address:</label>
                            <input type="text" class="form-control" id="address" placeholder="1234 Main St">
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save</button>
                </div>

            </div>
        </div>
    </div>
    <!-- About End -->



    <!-- Skill Start -->

    <div class="container-fluid py-5 h-auto" id="skill">
        <div class="container">
            <div class="position-relative d-flex align-items-center justify-content-center">
                <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 2px #adbc9f77;">Skills
                </h1>
                <h1 class="position-absolute text-uppercase "><span style="color:#001524 ;">Skills</span> </h1>
            </div>
            <div class="row">
                <div class="col-12 text-center mb-2">
                    <ul class="list-inline mb-4" id="portfolio-flters1">
                        <li class="btn btn-sm btn-outline m-1 active" data-filter="*"><span
                                style="font-weight: bold;">All</span></li>
                        <li class="btn btn-sm btn-outline m-1 " data-filter=".first1"><span
                                style="font-weight: bold;">Tools & Technologies</span></li>
                        <li class="btn btn-sm btn-outline m-1" data-filter=".second1"><span
                                style="font-weight: bold;">Interpersonal Skills</span></li>
                    </ul>
                </div>
            </div>
            <div class="row align-items-center flex-wrap portfolio-container">
                <div class="col-md-6 first1 portfolio-item1">
                    <div class="skill mb-4">
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-bold" data-lightbox="portfolio">HTML</h6>
                            <h6 class="font-weight-bold" data-lightbox="portfolio">95%</h6>
                        </div>
                        <div class="progress">
                            <div class="progress-bar" style="background-color: #146356;" role="progressbar"
                                aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 first1 portfolio-item1">
                    <div class="skill mb-4">
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-bold">CSS</h6>
                            <h6 class="font-weight-bold">85%</h6>
                        </div>
                        <div class="progress">
                            <div class="progress-bar " style="background-color: #146356;" role="progressbar"
                                aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 first1 portfolio-item1">
                    <div class="skill mb-4">
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-bold">PHP</h6>
                            <h6 class="font-weight-bold">90%</h6>
                        </div>
                        <div class="progress">
                            <div class="progress-bar" style="background-color: #146356;" role="progressbar"
                                aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 first1 portfolio-item1">
                    <div class="skill mb-4">
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-bold">Javascript</h6>
                            <h6 class="font-weight-bold">90%</h6>
                        </div>
                        <div class="progress">
                            <div class="progress-bar" style="background-color: #146356;" role="progressbar"
                                aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 first1 portfolio-item1">
                    <div class="skill mb-4">
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-bold">Angular JS</h6>
                            <h6 class="font-weight-bold">95%</h6>
                        </div>
                        <div class="progress">
                            <div class="progress-bar " style="background-color: #146356;" role="progressbar"
                                aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 first1 portfolio-item1">
                    <div class="skill mb-4">
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-bold">Wordpress</h6>
                            <h6 class="font-weight-bold">85%</h6>
                        </div>
                        <div class="progress">
                            <div class="progress-bar " style="background-color: #146356;" role="progressbar"
                                aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>

                <!-- Interpersonal Skills -->
                <div class="col-md-6 second1 portfolio-item1">
                    <div class="skill mb-4 ">
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-bold">Communication</h6>
                            <h6 class="font-weight-bold">85%</h6>
                        </div>
                        <div class="progress">
                            <div class="progress-bar " style="background-color: #6DB193;" role="progressbar"
                                aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 second1 portfolio-item1">
                    <div class="skill mb-4">
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-bold">Leadership </h6>
                            <h6 class="font-weight-bold">95%</h6>
                        </div>
                        <div class="progress">
                            <div class="progress-bar " style="background-color: #6DB193;" role="progressbar"
                                aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 second1 portfolio-item1">
                    <div class="skill mb-4">
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-bold">Presentation</h6>
                            <h6 class="font-weight-bold">85%</h6>
                        </div>
                        <div class="progress">
                            <div class="progress-bar " style="background-color: #6DB193;" role="progressbar"
                                aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 second1 portfolio-item1">
                    <div class="skill mb-4">
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-bold">Management</h6>
                            <h6 class="font-weight-bold">70%</h6>
                        </div>
                        <div class="progress">
                            <div class="progress-bar " style="background-color: #6DB193;" role="progressbar"
                                aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>
    <center>
        <a href="" class="btn blue  mr-4" data-bs-toggle="modal" data-bs-target="#modalskill">+ Add
            Skill</a>
    </center>
    </div>
    </div>
    <!-- Skill End -->

    <!-- Vertically centered scrollable modal -->
    <div class="modal fade" id="modalskill" tabindex="-1" role="dialog" aria-labelledby="modalTitleId"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content font-weight-bold" style="height:auto;width: 150%;">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitleId">Add Skills</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body px-3">
                    <div class="row g-3" style="color:black;">

                        <div class="col-6 rounded">
                            <label for="skill" class="form-label ">Tools or Technological Skill*</label>
                            <input type="text" class="form-control" placeholder="Ex. JavaScript" id="skill">
                        </div>
                        <div class="col-6 rounded">
                            <label for="skill" class="form-label ">Interpersonal Skill*</label>
                            <input type="text" class="form-control" placeholder="Ex. Communication" id="skill">
                        </div>
                        <div class="col-6 rounded">
                            <label for="percentage" class="form-label ">Percentage-tech*</label>
                            <input type="number" max="100" class="form-control" placeholder="Ex. 89" id="percentage">
                        </div>
                        <div class="col-6 rounded">
                            <label for="percentage" class="form-label ">Percentage-inter*</label>
                            <input type="number" max="100" class="form-control" placeholder="Ex. 89" id="percentage">
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save</button>
                </div>

            </div>
        </div>
    </div>




    <!-- Qualification Start -->
    <div class="container-fluid py-5" id="qualification">
        <div class="container">
            <div class="position-relative d-flex align-items-center justify-content-center">
                <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 2px #adbc9f77;">Quality
                </h1>
                <h1 class="position-absolute text-uppercase text-primary"><span style="color: #001524;">Education &
                        Expericence</span></h1>
            </div>
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <h3 class="mb-4">My Education</h3>
                    <div class=" pt-2 pl-4 ml-2" style="border-left:2px solid #3fdaa4 ;">
                        <div class="position-relative ex-me mb-4">
                            <i class="far fa-dot-circle  position-absolute"
                                style="top: 2px; left: -35px; font-size: 22px;color: #2A363B;"></i>
                            <h5 class="font-weight-bold mb-1">Bachelor of Science</h5>
                            <p class="mb-2"><strong>Cambridge University</strong> | <small>2005 - 2009</small></p>
                            <p>Tempor eos dolore amet tempor dolor tempor. Dolore ea magna sit amet dolor eirmod.
                                Eos
                                ipsum est tempor dolor. Clita lorem kasd sed ea lorem diam ea lorem eirmod duo sit
                                ipsum
                                stet lorem diam</p>
                        </div>
                        <div class="position-relative ex-me mb-4">
                            <i class="far fa-dot-circle  position-absolute"
                                style="top: 2px; left: -35px;  font-size: 22px;color: #2A363B;"></i>
                            <h5 class="font-weight-bold mb-1">Master In CSE</h5>
                            <p class="mb-2"><strong>Cambridge University</strong> | <small>2009 - 2011</small></p>
                            <p>Tempor eos dolore amet tempor dolor tempor. Dolore ea magna sit amet dolor eirmod.
                                Eos
                                ipsum est tempor dolor. Clita lorem kasd sed ea lorem diam ea lorem eirmod duo sit
                                ipsum
                                stet lorem diam</p>
                        </div>
                        <div class="position-relative ex-me mb-4">
                            <i class="far fa-dot-circle  position-absolute"
                                style="top: 2px; left: -35px;  font-size: 22px;color: #2A363B;"></i>
                            <h5 class="font-weight-bold mb-1">IIT Kharagpur</h5>
                            <p class="mb-2"><strong>Cambridge University</strong> | <small>2011 - 2015</small></p>
                            <p>Tempor eos dolore amet tempor dolor tempor. Dolore ea magna sit amet dolor eirmod.
                                Eos
                                ipsum est tempor dolor. Clita lorem kasd sed ea lorem diam ea lorem eirmod duo sit
                                ipsum
                                stet lorem diam</p>
                        </div>
                    </div>
                    <center>
                        <a href="" class="btn blue  mr-4" data-bs-toggle="modal" data-bs-target="#modaledu">+ Add
                            Edu</a>
                    </center>
                </div>
                <div class="col-lg-6">
                    <h3 class="mb-4">My Expericence</h3>
                    <div class=" pt-2 pl-4 ml-2" style="border-left:2px solid #3fdaa4 ;">
                        <div class="position-relative ex-me mb-4">
                            <i class="far fa-dot-circle position-absolute"
                                style="top: 2px;left: -35px;  font-size: 22px;color: #2A363B;"></i>
                            <h5 class="font-weight-bold mb-1">Web Designer</h5>
                            <p class="mb-2"><strong>Soft Company</strong> | <small> Excellent</small></p>
                            <p>Tempor eos dolore amet tempor dolor tempor. Dolore ea magna sit amet dolor eirmod.
                                Eos
                                ipsum est tempor dolor. Clita lorem kasd sed ea lorem diam ea lorem eirmod duo sit
                                ipsum
                                stet lorem diam</p>
                        </div>
                        <div class="position-relative ex-me mb-4">
                            <i class="far fa-dot-circle  position-absolute"
                                style="top: 2px;left: -35px;  font-size: 22px;color: #2A363B;"></i>
                            <h5 class="font-weight-bold mb-1">Artificial Intelligence</h5>
                            <p class="mb-2"><strong>Soft Company</strong> | <small> Good</small></p>
                            <p>Tempor eos dolore amet tempor dolor tempor. Dolore ea magna sit amet dolor eirmod.
                                Eos
                                ipsum est tempor dolor. Clita lorem kasd sed ea lorem diam ea lorem eirmod duo sit
                                ipsum
                                stet lorem diam</p>
                        </div>
                        <div class="position-relative ex-me mb-4">
                            <i class="far fa-dot-circle  position-absolute"
                                style="top: 2px;left: -35px;  font-size: 22px;color: #2A363B;"></i>
                            <h5 class="font-weight-bold mb-1">Web Development</h5>
                            <p class="mb-2"><strong>Soft Company</strong> | <small> Excellent</small></p>
                            <p>Tempor eos dolore amet tempor dolor tempor. Dolore ea magna sit amet dolor eirmod.
                                Eos
                                ipsum est tempor dolor. Clita lorem kasd sed ea lorem diam ea lorem eirmod duo sit
                                ipsum
                                stet lorem diam</p>
                        </div>
                    </div>
                    <center>
                        <a href="" class="btn blue  mr-4" data-bs-toggle="modal" data-bs-target="#modalexp">+ Add
                            Exp</a>
                    </center>
                </div>
            </div>
        </div>
    </div>
    <!-- Qualification End -->
    <!-- Vertically centered scrollable modal for experience -->
    <div class="modal fade" id="modalexp" tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content font-weight-bold" style="height:auto;width: 150%;">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitleId">Add Experience</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body px-3">
                    <div class="row g-3" style="color:black;">
                        <div class="col-12 rounded">
                            <label for="companyname" class="form-label ">Company Name*</label>
                            <input type="text" class="form-control" placeholder="Company Name" id="company">
                        </div>
                        <div class="col-6 rounded mt-3">
                            <label for="percentage" class="form-label ">Starting Year</label>
                            <input type="number" min="1000" class="form-control" placeholder="Ex.2000"
                                id="startingyear">
                        </div>
                        <div class="col-6 rounded mt-3">
                            <label for="percentage" class="form-label ">Ending Year</label>
                            <input type="number" min="1000" class="form-control" placeholder="Ex.2000" id="endingyear">
                        </div>
                        <div class="col-6 rounded mt-3">
                            <label for="skill" class="form-label ">Job type</label>
                            <input type="text" class="form-control" placeholder="Ex.Webdevloper" id="jobtype">
                        </div>
                        <div class="col-6 rounded mt-3">
                            <label for="experience" class="form-label ">Experience(in year)</label>
                            <input type="text" class="form-control" placeholder="Ex.2002" id="experience">
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save</button>
                </div>

            </div>
        </div>
    </div>
    <!-- Vertically centered scrollable modal for education -->
    <div class="modal fade" id="modaledu" tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content font-weight-bold" style="height:auto;width: 150%;">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitleId">Add Degree</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body px-3">
                    <div class="container">
                        <div class="  row " style="color:black;">
                            <div class="col-12 rounded  ">
                                <label for="university/college/school"
                                    class="form-label ">University/College/School</label>
                                <input type="text" class="form-control" placeholder="University/college/school"
                                    id="university/college/school">
                            </div>

                            <div class="col-6 rounded mt-3">
                                <label for="completion year" class="form-label ">Completion Year </label>
                                <input type="number" min="1000" class="form-control" placeholder="Ex.2000"
                                    id="completionyear">
                            </div>
                            <div class="col-6 rounded mt-3">
                                <label for="cgpa" class="form-label ">CGPA</label>
                                <input type="tel" max="10" class="form-control" placeholder="Enter CGPA out of 10"
                                    id="cgpa">
                            </div>
                            <div class="col-6 row mt-3 ms-1">
                                <label for="status" class="form-label">Status*</label>
                                <select id="status" class="form-select form-select-md col-12"
                                    aria-label=".form-select-md example"
                                    style="height:35px;border:1px solid lightgray;">
                                    <option selected>Select Status</option>
                                    <option>Persuing</option>
                                    <option>Completed</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save</button>
                </div>

            </div>
        </div>
    </div>




    <!-- achievement Start -->
    <div class="container-fluid pt-5" id="service">
        <div class="container">
            <div class="service-h4 position-relative d-flex align-items-center justify-content-center">
                <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 2px #adbc9f77;">
                    achievement
                </h1>
                <h1 class="position-absolute text-uppercase text-primary"><span style="color: #001524;">My
                        achievement</span></h1>
            </div>
            <div class=" service-parent-box row pb-3">
                <div class="service-box col-lg-4 col-md-6 text-center mb-5">
                    <div class="d-flex align-items-center justify-content-center mb-4">
                        <!-- <i class="fa fa-2x fa-laptop service-icon bg-primary text-white mr-3"></i> -->
                        <h4 class="font-weight-bold m-0">Web Design</h4>
                    </div>
                    <p>Justo sit justo eos amet tempor amet clita amet ipsum eos elitr. Amet lorem lorem lorem est
                        amet
                        labore eirmod erat clita</p>
                    <a class="border-bottom border-primary text-decoration-none" href=""><span
                            style="color:#016A70 ;font-weight: bold;">Read More</span></a>
                </div>
                <div class="service-box col-lg-3 col-md-6 text-center mb-5">
                    <div class="d-flex align-items-center justify-content-center mb-4">
                        <!-- <i class="fa fa-2x fa-laptop-code service-icon bg-primary text-white mr-3"></i> -->
                        <h4 class="font-weight-bold m-0">Development</h4>
                    </div>
                    <p>Justo sit justo eos amet tempor amet clita amet ipsum eos elitr. Amet lorem lorem</p>
                    <a class="border-bottom border-primary text-decoration-none" href=""><span
                            style="color:#016A70 ;font-weight: bold;">Read More</span></a>
                </div>
                <div class="service-box col-lg-4 col-md-6 text-center mb-5">
                    <div class="d-flex align-items-center justify-content-center mb-4">
                        <!-- <i class="fab fa-2x fa-android service-icon bg-primary text-white mr-3"></i> -->
                        <h4 class="font-weight-bold m-0">Apps Design</h4>
                    </div>
                    <p>Justo sit justo eos amet tempor amet clita amet ipsum eos elitr. Amet lorem lorem lorem est
                        amet
                        labore eirmod erat clita</p>
                    <a class="border-bottom border-primary text-decoration-none" href=""><span
                            style="color:#016A70 ;font-weight: bold;">Read More</span></a>
                </div>
                <div class="service-box col-lg-4 col-md-6 text-center mb-5">
                    <div class="d-flex align-items-center justify-content-center mb-4">
                        <!-- <i class="fab fa-2x fa-apple service-icon bg-primary text-white mr-3"></i> -->
                        <h4 class="font-weight-bold m-0">Apps Development</h4>
                    </div>
                    <p>Justo sit justo eos amet tempor amet clita amet ipsum eos elitr. Amet lorem lorem Amet lorem
                        lorem</p>
                    <a class="border-bottom border-primary text-decoration-none" href=""><span
                            style="color:#016A70 ;font-weight: bold;">Read More</span></a>
                </div>
                <div class="service-box col-lg-3 col-md-6 text-center mb-5">
                    <div class="d-flex align-items-center justify-content-center mb-4">
                        <!-- <i class="fa fa-2x fa-search service-icon bg-primary text-white mr-3"></i> -->
                        <h4 class="font-weight-bold m-0">SEO</h4>
                    </div>
                    <p>Justo sit justo eos amet tempor amet clita amet ipsum eos elitr. Amet lorem </p>
                    <a class="border-bottom border-primary text-decoration-none" href=""><span
                            style="color:#016A70 ;font-weight: bold;">Read More</span></a>
                </div>
                <div class="service-box col-lg-4  col-md-7 text-center mb-5">
                    <div class="d-flex align-items-center justify-content-center mb-4">
                        <!-- <i class="fa fa-2x fa-edit service-icon bg-primary text-white mr-3"></i> -->
                        <h4 class="font-weight-bold m-0">Content Creating</h4>
                    </div>
                    <p>Justo sit justo eos amet tempor amet clita amet ipsum eos elitr. Amet lorem lorem lorem est
                        amet
                        labore eirmod erat clita</p>
                    <a class="border-bottom border-primary text-decoration-none" href=""><span
                            style="color:#016A70 ;font-weight: bold;">Read More</span></a>
                </div>

            </div>
            <center>
                <a href="" class="btn blue btn-outline-primary mr-4" data-bs-toggle="modal" data-bs-target="#modalach">+
                    Add Achievement</a>
            </center>
        </div>
    </div>
    <!-- Vertically centered scrollable modal for education -->
    <div class="modal fade" id="modalach" tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content font-weight-bold" style="height:auto;width: 150%;">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitleId">Add Achievement</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body px-3">
                    <div class="container">
                        <div class="  row " style="color:black;">
                            <div class="col-12 rounded  ">
                                <label for="certificate" class="form-label ">Certificate</label>
                                <input type="file" class="form-control" placeholder="Certificate uplode"
                                    id="certificate">
                            </div>

                            <div class="col-6 rounded mt-3">
                                <label for="domain" class="form-label ">Domain</label>
                                <input type="Text" class="form-control" placeholder="Enter your Domain" id="domain">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save</button>
                </div>

            </div>
        </div>
    </div>
    <!-- Services End -->
    <!-- Footer Start -->
    <div class="container-fluid text-white mt-5 py-1 px-sm-1 px-md-5" style="background-color: #5C8374;">
        <div class="container text-center py-5">
            <div class="d-flex justify-content-center mb-4">
                <a class="btn btn-light btn-social mr-2" href="#"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-light btn-social mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-light btn-social mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                <a class="btn btn-light btn-social" href="#"><i class="fab fa-instagram"></i></a>
            </div>
            <div class="d-flex justify-content-center mb-3">
                <a class="text-white" href="#">Privacy</a>
                <span class="px-3">|</span>
                <a class="text-white" href="#">Terms</a>
                <span class="px-3">|</span>
                <a class="text-white" href="#">FAQs</a>
                <span class="px-3">|</span>
                <a class="text-white" href="#">Help</a>
            </div>

        </div>
    </div>
    <!-- Footer End -->

    <!-- Scroll to Bottom -->
    <i class="fa fa-2x fa-angle-down text-white scroll-to-bottom"></i>

    <!-- Back to Top -->
    <a href="#" class="btn btn-outline-dark px-0 back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <!-- JavaScript Libraries -->
    <script src="/https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="/https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="/js/typed/typed.min.js"></script>
    <script src="/js/easing/easing.min.js"></script>
    <script src="/js/waypoints/waypoints.min.js"></script>
    <script src="/js/owlcarousel/owl.carousel.min.js"></script>
    <script src="/js/isotope/isotope.pkgd.min.js"></script>
    <script src="/js/lightbox.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="/mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="js/mainIndex_page.js"></script>
</body>

</html>