
*{
    box-sizing: border-box;
}
body {
background-color: rgb(155, 207, 191);
}

.container{
     border:  3px solid rgb(211, 14, 14); 
     height: 500px;
    width: 1000px;
    margin: 9px auto;
    /* padding: center; */
}
.items{
   border: 5px solid rgb(44, 37, 144); 
   margin: 12px 3px;
   padding: 12px 3px;
   text-align: justify
   ;
}

  #fruit{ 
    float: left;
    width: 48%;
}
 #computer{
    
 float: right;
 width: 48%;
 } 

#books{
    height: 200px;
    width: 98%;
    float:left;
    margin: 3px 7px;
    padding: auto;
    
} 

  
